node_modules
lib
build
coverage
cache

.editorconfig
.eslintrc.json
.eslinttypescriptrc.json
.gitignore
.jestrc.json
.jesttypescriptrc.json
.lintstagedrc.json
.prettierrc.json
.typescriptrc.json
citation.cff
codeowners
license
